/*-----About Us Styles-----*/
body{
    background-color: #fcf7d7;
}
#about-us-title{
    margin-top: 20px;
    text-align: center;
}
#aboutUs{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#aboutUs p{
    padding: 5%;
    font-size: 1.3em;
}

#aboutUs img{
    margin-left: 5%;
}

#meetTheChefs{
    margin-top: 3%;
    text-align: center;
}

#chefs{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 40px;
    margin-bottom: 5%;
}

.carousel-caption{
    position: static;
    color: black;
    margin: 0;
    padding: 0;
}

#chefs div:hover{
    box-shadow: 10px 10px #3A86FF;
    
}

@media screen and (max-width: 480px) {
    #aboutUs{
        display: flex;
    flex-direction: column;
    margin-top: 5%;
    }

    #chefs{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 40px;
        margin-bottom: 5%;
    }
}