/*-----Booking Styles-----*/
#booking-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 5%;
}

#booking-elements div{
    width: 33.33%;
    padding: 30px;
    text-align: center;
    height: 70vh;
}

#booking-elements h3{
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 5%;
}

#reservations{
    background-color: #3A86FF;
}
#reservations h3{
    /* background-color: #70b3e3; */
    background-color: #F6E8C3;
}

#reservations p{
    /* background-color: #70b3e3; */
    color: white;
}

#reservations button:hover{
    border-color: #F6E8C3;
    border-width: 5px;
}

#reservations button:focus{
    outline: none;
}

#events{
    background-color: #F6E8C3;
}

#events h3{
    background-color: #3A86FF;
}

#events button:hover{
    border-color: #3A86FF;
    border-width: 5px;
}

#events button:focus{
    outline: none;
}

#catering{
    background-color: #3A86FF;
}
#catering h3{
    /* background-color: #70b3e3; */
    background-color: #F6E8C3;
}

#catering p{
    /* background-color: #70b3e3; */
    color: white;
}

#catering button:hover{
    border-color: #F6E8C3;
    border-width: 5px;
}

#catering button:focus{
    outline: none;
}

#booking-elements button{
    background-color:#1E3A5F;
    color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-catering, .popup-events, .popup{
    width: 800px;
    background-color: #1E3A5F;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}


.popup #datetime-picker{
    width: 50%;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

input{
    padding: 10px;
    border-radius: 10px;
}

.open-popup-events{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.open-popup-catering{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup, .popup-events, .popup-catering h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #F6E8C3;
}

.popup, .popup-events, .popup-catering label{
    color: #F6E8C3;

}

.popup, .popup-events, .popup-catering button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #F6E8C3;
    color: #1E3A5F;
    outline: none;
    font-size:18px;
    border-radius: 4px;
    cursor: pointer;
}

