/*-----Menu Styles-----*/

#menu{
    background-color: #F6E8C3;
    margin: 0;
    min-height: 100vh;
}

#menu-categories{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 5%;
    gap: 40px;
    border-bottom: 2px solid #3A86FF;
}

#menu-categories a{
    
    text-decoration: none;
    color: white;
    
}

#menu-categories button{
    margin: 15px;
    background-color: #3A86FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 3px #3A86FF;
}

#menu-categories a:hover{
    text-decoration: none;
    color:black;
}

#menu-categories button:hover{
    text-decoration: none;
    outline: none;
    background-color: #F6E8C3;
    border: 3px #3A86FF solid;
    color: black;
}

.menu-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    gap: 40px;
}

.menu-title{
    text-align: center;
    margin-bottom: 30px;
}

.menu-section .menu-item{
    width: 300px;
    border-radius: 20px;
    background-color: #6fa5fc;
    transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-section .menu-item:hover{
    transform: scale(1.2);
}    


.menu-section .menu-item h5{
    margin-top: 10px;
    color: white;
}

.menu-section .menu-item .content{
    position: relative;
    padding: 15px;
}

@keyframes slide {
    from {
        transform: translateX(0 -100%); /*-----starts from 0 and goes to the left 100%-----*/

    }

    to{
        transform: translateX(-100%);
    }
}
.logos{
    padding: 60px 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.logos:before, .logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgb(255,255,255, 0), white  );
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgb(255,255,255, 0), white  );
}
.logos-slide{
display: inline-block;
    animation: 20s slide infinite linear;
}
.logos-slide img{
    height: 100px;
    margin: 0 40px;
}

@media screen and (max-width: 800px) and (min-width: 400px) {

    nav{
        position: fixed;
    }

    #menu-categories{
        display: none;

    }

    #menu-appetizers{
        margin-top: 60px;
    }
    .menu-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

    }

    .menu-section .menu-item{
        width: 80%;
        border-radius: 20px;
        background-color: #6fa5fc;
        transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out;
        color: white;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 15px;
        z-index: 1;
    }

    .menu-section .menu-item .content{
        position: relative;
        z-index: 1;
    }

    .logos{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding: 60px 0;
    }
}

@media screen and (max-width: 400px) {

    
}

